@import url('https://fonts.cdnfonts.com/css/minecraftia');
@import "tailwindcss";

:root {
  
  font-size:small;
  --bg-sidebar: #f4f4ec;
  --fg-sidebar: #111;
  --border-sidebar: #d2b48c;
  --bg-dark: #0a0a0a;
  --fg-dark: #ededed;
  --bg-light: #fcf7ec;
  --fg-light: #1f1f1f;
  --minecraftGreen: #4caf50;
  --panel-dark: rgba(36, 36, 36, 0.7);
  --panel-light: rgba(255, 255, 255, 0.85);
  --border-dark: #83653A;
  --border-light: #bba06b;
  --highlight-light: #fff2c2;
  --shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.stars {
  background: black url("/stars.png") repeat top center;
  animation: moveStars 100s linear infinite;
}

@keyframes moveStars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -10000px 5000px;
  }
}






